<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.admin.mapper.MemberMapper">

    <sql id="selectListWhere">
        <if test="searchType != null and searchValue != null">
            <choose>
                <when test="searchType == 'userId'">
                    and user_id like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'userName'">
                    and user_name like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'phone'">
                    and phone like concat('%', #{searchValue}, '%')
                </when>
                <otherwise>
                    and (
                    user_id like concat('%', #{searchValue}, '%')
                    or user_name like concat('%', #{searchValue}, '%')
                    or phone like concat('%', #{searchValue}, '%')
                    )
                </otherwise>
            </choose>
        </if>
    </sql>

    <select id="selectListCount"
            parameterType="com.zerobase.fastlms.admin.model.AdminMemberParam"
            resultType="long">

        select count(*)
        from member
        where 1=1
            <include refid="selectListWhere"/>

    </select>



    <select id="selectList"
            parameterType="com.zerobase.fastlms.admin.model.AdminMemberParam"
            resultType="com.zerobase.fastlms.admin.dto.MemberDto">

<!--        select *-->
<!--        from member-->
<!--        where 1=1-->
<!--실습1-->
        SELECT m.*
            ,l.last_login_time
        from member m
            LEFT JOIN (SELECT h.user_id
                            ,MAX(h.last_login_time) AS last_login_time
                        FROM login_history h
                        WHERE 1=1
                        GROUP BY h.user_id) l
             ON m.user_id = l.user_id
        where 1=1
        <if test="searchType != null and searchValue != null">
            <choose>
                <when test="searchType == 'userId'">
                    and m.user_id like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'userName'">
                    and m.user_name like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'phone'">
                    and m.phone like concat('%', #{searchValue}, '%')
                </when>
                <otherwise>
                    and (
                    m.user_id like concat('%', #{searchValue}, '%')
                    or m.user_name like concat('%', #{searchValue}, '%')
                    or m.phone like concat('%', #{searchValue}, '%')
                    )
                </otherwise>
            </choose>
        </if>
        limit #{pageStart}, #{pageEnd}
    </select>
</mapper>